.cancionesrec{
    display: inline-block;
}

.cancionesrec-container{
    color: aliceblue;
}

.cancionesrec img{
    object-fit: contain;
    width: 200px;
}

.info-song-container p{
    text-align: left;
    width: 350px;
    font-size: 1.5rem;
}




