.cancionesrec{
    display: inline-block;
   
    
}

.cancionesrec-container{
    padding: 150px;
    color: aliceblue;
}

.imagine-container{
    height: 20vh; 
}



.cancionesrec img{
    box-shadow: 5px 5px 5px 5px rgb(130, 196, 25);
    
}




