.MainPage-container{
    color: #478426;
}

.header-container{
    position: relative;
    padding: 30px 20px;
}

.rec-container{
    color: #478426;
}

.header2-container{
    padding: 40px 20px ;
}

.MainPage-container h1 {
    font-size: 6rem;
}

.header-container h1 {
    text-align: left;
}

.header2-container h1{
    text-align: left;
    font-size: 5rem;
}

/*Boton*/
.buscador{
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 20px;
    position: relative;
    border: 20;
}

.buscador input{
    font-family: "Hammersmith One", system-ui, sans-serif;
    padding: 10px;
    padding-right: 30px;
    border-radius: 100px 100px 100px 100px;
    border: 0;
    font-size: irem;
    outline: none;
    width: 400px;
}

.Busbutton-container button{
    display: flex;
    padding-right: 100px;
    padding: 15px 15px 15px 15px ;
    color: rgb(240, 240, 231);
    right: 0px;
    background-color: rgb(130, 196, 56);
    border-radius: 100px;
    border: 0; 
    margin-left: 15px;
    cursor: pointer;
}

.Busbutton-container button:hover{
    background-color: transparent;
}

.song-repeating-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 200px;
    position: relative;
    z-index: 1;
}

.song-repeating-main{
    color: #ffffff;
    padding-block: 25px;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 2;
}

.song-repeating-main:hover{
    background-color: #252525;
}

.song-repeating-main p{
    font-size: 1.5rem;
}

.dimmed {
    opacity: 0.6;
    filter: blur(2px);
}

.highlight {
    z-index: 3;
    transform: scale(1.05);
}