.MainPage-container{
    color: #478426;
    /* background-color: azure; */
}

.header-container{
    padding: 30px 20px;
}

.rec-container{
    color: #478426;
}

.header2-container{
    padding: 100px 20px;
}

.MainPage-container h1 {
    font-size: 6rem;
}

.header-container h1 {
    text-align: left;
}

.rec-container h1{
    font-size: 64px;
}

.header2-container h1{
    text-align: left;
}
