
.sidebar{
    position: fixed;
    right: 0;
} 

.sidebar-container{
   
    color: #ffffff;
    width: 350px;
    height: 100vh;
    background-color:rgb(78, 78, 78);
    transition: .5s;
    box-shadow: 0 5px 15px 10px rgb(130, 196, 56);
    /* opacity: 0;
    visibility: hidden;    */
}

/* MENU CHECK */
.sidebar .menu{
    position:fixed;
    top: 60px;
    right: 400px;
    font-size: 30px;
    cursor: pointer;
    font-size: 60px;
}

.sidebar .check{
display:block;
}
/*  */

#btn-menu:checked ~ .sidebar-container{
    opacity: 1;
    visibility: visible;
}

.sidebar-container label{
    position: absolute;
    top: 10px;
    right: 300px;
    font-size: 30px;
    cursor: pointer;
}

.sidebar-barra-container i{
    position: fixed;
    right: 10px;
    padding-top: 10px;
    font-size: 150px;
}

.sidebar-barra-container .icon i{
    position: fixed;
    right: 140px;
    padding-top: 10px;
    font-size: 40px;
}


.sidebar-container h2{
    position: fixed;
    right: 10px;
    padding-top: 172px;
    padding-left: 130px;
    font-size: 48px;
}

.sidebar-container ul{
    position: fixed;
    padding-top: 230px;
    color: #772222; 
    right: 10px;

} 

.sidebar-container li{
    padding-top: 10px;
    overflow: hidden;
    text-align: right;
} 


.sidebar-container ul li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 24px;
} 

.sidebar-barra-container .icon i{
    position: relative;
    display: block;
    min-width: 10px;
}



/* menu y check */

/* .check-container{
    display: none;    
}

.icon-container {
    position: absolute;
    top: 60px;
    padding-left: 1200px;
    font-size: 60px;
    color: rgb(253, 253, 253);
    cursor: pointer;
} */


